<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
    	<class name="com.dotnetscripts.DisplayLoginPage"/>
		<class name="com.dotnetscripts.DisplayRegisterPage"/>
		<class name="com.dotnetscripts.DisplayContactPage"/>
		<class name="com.dotnetscripts.DisplayAboutPage"/>
		<class name="com.dotnetscripts.DisplayLoginPage1"/>
		<class name="com.dotnetscripts.DisplayRegisterPage1"/>
		<class name="com.dotnetscripts.DisplayContactPage1"/>
		<class name="com.dotnetscripts.DisplayAboutPage1"/>
		<class name="com.dotnetscripts.DisplayLoginPage2"/>
		<class name="com.dotnetscripts.DisplayRegisterPage2"/>
		<class name="com.dotnetscripts.DisplayContactPage2"/>
		<class name="com.dotnetscripts.DisplayAboutPage2"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->



